*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    
    background-color: black;/* Basic linear gradient */
    background-image: linear-gradient(to right, black, rgb(70, 70, 70));
    margin: 15px;
    padding: 15px;
}

body h1 {
    background-color: #1ED760;
    text-align: center;
    justify-content: left;
    display: flex;
    padding: 15px;
    font-size: 40px;

    border-radius: 15px;
}

.years{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.year{
    background-color: beige;
    padding: 20px;
    text-align: center;
    
    border-radius: 15px;
}